<section class="container py-5" id="about">
	<div class="row m-0 py-5">
		<div class="font-slab title pb-lg-5 py-4 d-flex justify-content-center">
      <span class="h2 fw-bold">{{'{'}}</span>
      <h2 class="px-3 fw-bold text-white">About Me</h2>
      <span class="h2 fw-bold">{{'}'}}</span>
    </div>
		<!--- About photo -->
		<div class="col-sm-6 p-0 about-photo text-center col-md-12 col-lg-6" data-aos="fade-right" data-aos-duration="2000">
			<img src="../../../assets/carlos.jpg" alt="Carlos Photo"
			class="rounded-3 object-fit-cover">
		</div>
		<!--- About Description -->
		<div class="col-sm-6 p-0 pe-lg-5 py-4 py-lg-0 col-md-12 col-lg-6 text-center text-lg-start">
			<h2 class="font-slab text-white fw-bold text-md-center text-lg-start">Self-Taught Front-End Developer <span class="about-title">Ready to solve problems</span> </h2>
			<p class="m-0 text-white pt-3 lh-lg font-codesa">
				Hello, I'm Carlos—a self-taught individual who embarked on a journey to master web development and English fluency. Having a background as a Customer Service Representative for esteemed entities like Scotiabank and Uber, I've improved my skills in effective communication and problem-solving.
			</p>
			<p class="m-0 text-white pt-3 lh-lg font-codesa">
				My transition to becoming a Frontend Developer stems from a long-held passion for creating impactful websites and applications. My goal is to contribute to businesses and provide a platform where individuals can learn transformative skills, ultimately changing their lives.
			</p>

			<div class="about-social-media py-4">
				<a href=" https://www.facebook.com/profile.php?id=100095584118334" class="text-decoartion-none" target="_blank">
					<i class="bi bi-facebook fs-2"></i>
				</a>
				<a href="https://www.linkedin.com/in/carloslopez1993/" class="text-decoartion-none mx-4" target="_blank">
					<i class="bi bi-linkedin fs-2"></i>
				</a>
				<a href="https://github.com/Carlos4152" class="text-decoartion-none" target="_blank">
					<i class="bi bi-github fs-2"></i>
				</a>
			</div>
			<div class="about-buttons mt-3">
				<a href="#contact" class="text-decoration-none fw-bold font-codesa fs-5 py-3 px-5 rounded-5" >
          View Resume 
          <i class="bi bi-box-arrow-in-up-right ms-3"></i>
        </a>
			</div>
		</div>
	</div>
</section>
