<section class="container py-5" id="about">
	<div class="row m-0 py-5">
		<div class="font-slab title pb-lg-5 py-4 d-flex justify-content-center">
      <span class="h2 fw-bold">{{'{'}}</span>
      <h2 class="px-3 fw-bold text-white">About Me</h2>
      <span class="h2 fw-bold">{{'}'}}</span>
    </div>
		<!--- About photo -->
		<div class="col-sm-6 p-0 about-photo text-center col-md-12 col-lg-6" data-aos="fade-right" data-aos-duration="2000">
			<img src="../../../assets/carlos.jpg" alt="Carlos Photo"
			class="rounded-3 object-fit-cover h-100">
		</div>
		<!--- About Description -->
		<div class="col-sm-6 p-0 pe-lg-5 py-4 py-lg-0 col-md-12 col-lg-6 text-center text-lg-start">
			<h2 class="font-slab text-white fw-bold text-md-center text-lg-start">Front-End Developer <span class="about-title">Ready to solve problems</span> </h2>
			<p class="m-0 text-white pt-3 lh-lg font-codesa">
				Hey there! I'm Carlos, a Front-End Software Engineer with a unique background in Customer Service that has greatly enhanced my communication skills and ability to collaborate within teams to achieve organizational objectives.
			</p>
			<p class="m-0 text-white pt-3 lh-lg font-codesa">
				My journey into the world of web development started out of sheer curiosity about the inner workings of the systems I encountered in my previous roles. As I delved into learning the basics of web development, I found myself captivated by the process and quickly fell in love with it. The thrill of problem-solving and the challenge of overcoming obstacles along the way fuel my motivation to continually expand my knowledge and skills in this field.
			</p>

			<div class="about-social-media py-4">
				<a href=" https://www.facebook.com/profile.php?id=100095584118334" class="text-decoartion-none" target="_blank">
					<i class="bi bi-facebook fs-2"></i>
				</a>
				<a href="https://www.linkedin.com/in/carloslopez1993/" class="text-decoartion-none mx-4" target="_blank">
					<i class="bi bi-linkedin fs-2"></i>
				</a>
				<a href="https://github.com/Carlos4152" class="text-decoartion-none" target="_blank">
					<i class="bi bi-github fs-2"></i>
				</a>
			</div>
			<div class="about-buttons mt-3">
				<a href="../../../assets/Software_Engineer_CL.pdf" target="_blank" class="text-decoration-none fw-bold font-codesa fs-5 py-3 px-5 rounded-5" >
          View Resume 
          <i class="bi bi-box-arrow-in-up-right ms-3"></i>
        </a>
			</div>
		</div>
	</div>
</section>
