<section class="container-fluid hero py-5">
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="row m-0 h-100 py-5 align-items-center justify-content-center" data-aos="zoom-in" data-aos-duration="3000">
      <div
        class="hero-context col-sm-6  col-md-11 col-lg-9 d-flex flex-column justify-content-center p-0 order-1 text-center">
        <span class="fs-5 text-white mb-2">Front-End Developer:</span>
        <h1 class="text-white hero-title fw-bold">
          Building, Updating, <br>
          & <span class="hero-title-solve">Solving</span>
        </h1>
        <p class="text-white lh-lg py-3 font-codesa">
          As a frontend developer I am capable to design, build and fix website or applications, and make them responsive with my frontend skills. Able to communicate in two languages and lead meetings, explaining products to clients, and ensuring customer satisfaction.
        </p>
        <div class="buttons py-md-3">
          <a href="#contact"
            class="text-decoration-none fw-bold text-white orange-button rounded-5 py-2 py-md-3 px-3 px-md-4 font-codesa">GET
            IN TOUCH</a>
          <a href="#portfolio"
            class="text-decoration-none fw-bold ms-3 btn-project rounded-5 py-2 py-md-3 px-2 font-codesa px-md-4">
            PROJECTS
            <i class="bi bi-eye ps-2 fs-4"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>