<section class="container-fluid skills py-5" id="skill">
  <div class="container py-lg-5 py-5">

    <div class="row align-items-center">
      <div class="col-sm-6 col-md-12 col-xl-6">
        <div class="skill-context">
          <div class="skill-title d-flex align-items-center">
            <span class="pe-2 h2 fw-bold">{{'{'}}</span>
            <h2 class="font-slab fw-bold text-white">Let’s Explore My Skills</h2>
            <span class="ps-2 h2 fw-bold">{{'}'}}</span>
          </div>
          <p class="text-white font-codesa mt-4 lh-lg pe-5">
            I have honed my expertise in various technologies through diligent self-study and hands-on experimentation. Leveraging resources like YouTube tutorials and official documentation, coupled with practical application in small projects, I've cultivated a solid understanding of these tools. This independent learning journey has instilled in me a proactive mindset, primed for problem-solving and adaptable to the ever-evolving landscape of front-end development. I am continuously preparing myself to tackle new challenges and eagerly embrace opportunities to further expand my skill set.
          </p>
        </div>
      </div>
      <!--- ************************* Skills Icon ********************************************-->
      <div class="col-sm-6 col-md-12 col-xl-6 row m-0 p-0 order-1" data-aos="fade-left" data-aos-duration="2000">
        <div class="col-6 col-md-3 col-xl-3 text-center mt-3" *ngFor="let skill of skills">
          <div class="icon-container rounded-2 d-flex align-items-center justify-content-center flex-column ">
            <img src={{skill.img}} alt={{skill.title}}>
            <p class="text-white pt-3 font-codesa fw-semibold">{{skill.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>